.app{
    font-size: calc(10px + 2vmin);
    overflow-x: hidden;
    background: rgb(49,53,56);
    background: linear-gradient(81deg, rgba(49,53,56,1) 30%, rgba(98,100,105,1) 49%, rgba(49,53,56,1) 68%);
}